rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /prospects/{prospectId} {
      // Función para verificar si el usuario es administrador (todos los UID tienen permisos de admin)
      function isAdmin() {
        return request.auth != null &&
          (request.auth.uid == "kRTRRDQ9k9hFzSqy1rDkMDtvaav2" || 
           request.auth.uid == "Wv1BcMQlQreQ3doUPccObJdX6cS2" || 
           request.auth.uid == "n4WFgGtOtDQwYaV9QXy16bDvYE32");
      }
      
      function isArchivoProspeccion(status) {
        return status == "NO CONTESTA" || status == "RECHAZADO" || status == "CONVERSION";
      }

      // Permisos de lectura y escritura - todos los administradores tienen acceso completo
      allow read, write: if isAdmin();
    }
  }
}